--extra-index-url https://download.pytorch.org/whl/torch_stable.html
bandit
black
boltons
editdistance
flask
h5py
itermplot
jupyterlab
matplotlib
mypy
nltk
numpy
opencv-python-headless>=4.4
pillow
pycodestyle
pydocstyle
pylint
pytest
pytorch-lightning
pyyaml
requests
safety
scipy
toml
torch
torchvision
tornado
tqdm
wandb